* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.aa1 {
	display: flex;
}

section {
	width: calc(100vw / 3);
	height: 100vh;
	display: flex;
}

header {
	position: fixed;
	background-color: coral;
	width: 100vw;
	text-align: center;
}

p {
	line-height: 1.6;
	word-break: keep-all;
	text-align: center;
}

h1 {
	font-size: 20px;
}

.a1 {
	background-color: orange;
	justify-content: center;
	align-items: center;
}

.a2 {
	background-color: orangered;
	justify-content: center;
	align-items: center;
}

.a3 {
	background-color: darkorange;
	justify-content: center;
	align-items: center;
}

.ff1 {
	width: calc(100vw / 8);
	writing-mode: vertical-rl;
	text-orientation: upright;
	display: flex;
	justify-content: center;
	align-items: center;
	background: radial-gradient(darkgrey, whitesmoke);
	flex-direction: row;
	border-radius: 100px;
	width: 40px;
	height: 100px;
}

.fh {
	width: 300px;
	height: 100px;
	border-radius: 20px;
	padding: 10px;
	background: radial-gradient(gray, whitesmoke);
	text-align: center;
	box-shadow: 20px 10px 5px 5px darkgray;
}

.ff2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ff3 {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 600px;
	border: 2px solid gold;
	margin: 20px;
	background: linear-gradient(180deg, gray, whitesmoke);
}

.ss1 {
	width: calc(100vw / 8);
	writing-mode: vertical-rl;
	text-orientation: upright;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, orangered, whitesmoke);
	flex-direction: row;
	border-radius: 100px;
	width: 40px;
	height: 100px;
}

.sh {
	width: 300px;
	height: 100px;
	border-radius: 20px;
	padding: 10px;
	background: radial-gradient(coral, orange, lightcoral);
	text-align: center;
	box-shadow: 20px 10px 5px 5px orangered;
}

.ss2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ss3 {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 600px;
	border: 2px solid gold;
	margin: 20px;
	background: linear-gradient(180deg, coral, whitesmoke);
}

.tt1 {
	width: calc(100vw / 8);
	writing-mode: vertical-rl;
	text-orientation: upright;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, darkkhaki, whitesmoke);
	flex-direction: row;
	border-radius: 100px;
	width: 40px;
	height: 100px;
}

.th {
	width: 300px;
	height: 100px;
	border-radius: 20px;
	padding: 10px;
	background: radial-gradient(khaki, darkkhaki);
	text-align: center;
	box-shadow: 20px 10px 5px 5px gray;
}

.tt2 {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tt3 {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 600px;
	border: 2px solid gold;
	margin: 20px;
	background: linear-gradient(180deg, darkkhaki, whitesmoke);
}

.ff0 {
	background-image: url("d1.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw 100vh;
}
.ss0 {
	background-image: url("d2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw 100vh;
}
.tt0 {
	background-image: url("d3.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw 100vh;
}

@media screen and (max-width: 900px) {
	.ff0 {
		background-size: auto 100vh;
	}
	.ss0 {
		background-size: auto 100vh;
	}
	.tt0 {
		background-size: auto 100vh;
	}
	iframe{
		width: 295px;
		height: 200px;
	}
	img {
		width: 295px;
		height: 200px;
	}
	h2 {
		font-size: 15px;
	}

	.ff3 {
		width: 300px;
		height: 630px;
		border: 2px solid darkcyan;
		margin: 20px;
	}

	.ss3 {
		width: 300px;
		height: 630px;
		border: 2px solid darkcyan;
		margin: 20px;
	}

	.tt3 {
		width: 300px;
		height: 630px;
		border: 2px solid darkcyan;
		margin: 20px;
	}

	p {
		font-size: 15px;
		line-height: 1.6;
		word-break: keep-all;
	}
}
